<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.c.denglizimeijunqi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/denglizimeijunqi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Function.TimeActivity">
        </activity>
        <activity android:name=".Function.AlarmActivity">
        </activity>
        <activity android:name=".Function.SwitchActivity">
        </activity>
        <activity android:name=".TimeDisplay.ZiJianActivity">
        </activity>
        <activity android:name=".TimeDisplay.BiaoMianActivity">
        </activity>
        <activity android:name=".TimeDisplay.GaoJiActivity">
        </activity>
        <activity android:name=".TimeDisplay.YuReActivity">
        </activity>
        <activity android:name=".TimeDisplay.BiaoZhunActivity">
        </activity>
        <activity android:name=".Function.RunActivity">
        </activity>
        <activity android:name=".Function.RunActivity">
        </activity>
        <activity android:name=".Function.BangZhuActivity">
        </activity>
        <activity android:name=".Function.FaXianActivity">
        </activity>
        <activity android:name=".Function.BaoZhuangActivity">
        </activity>
        <activity android:name=".nav_view.SheZhiActivity">
        </activity>
        <activity android:name=".nav_view.TianJiaSheBeiActivity">
        </activity>
        <activity android:name=".SheZhi.ZhangHaoGuanLiActivity">
        </activity>
        <activity android:name=".SheZhi.GuanYuActivity">
        </activity>
    </application>

</manifest>